.aside {
  display: flex;
  flex-direction: row;
  width: 30vw;
  margin-bottom: 24px;
  font-size: 16px;
}

.btn {
  width: 50%;
  margin-left: 0;
  margin-right: 8px;
  padding: 0.5em 1em;
  font-size: 16px;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

.fileName {
  width: 50%;
  height: 36px;
  border: 1px solid #ccc;
  line-height: 36px;
  padding-left: 13px;
}
